<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    {% csrf_token %}

    <head>

        <meta name="robots" content="noindex, nofollow">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>사주톡톡</title>

        <!-- favicon
        ================================================== -->
        <link rel="icon" type="image/png" href="/static/_sajutoktok/img/logos/favicon.png">
        <link rel="shortcut icon" href="/static/_sajutoktok/img/logos/favicon.png" />
        <link rel="apple-touch-icon" href="/static/_sajutoktok/img/logos/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/_sajutoktok/img/logos/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/_sajutoktok/img/logos/apple-touch-icon-114x114.png" />

        <!-- style
        ================================================== -->
        <link rel="stylesheet" href="/static/_sajutoktok/css/plugins.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/custom.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/styles.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/index.css"/>
        <link rel="stylesheet" href="/static/search/search.css"/>
        <link rel="stylesheet" href="/static/quform/css/base.css"/>

    </head>

    <body style="word-break: keep-all;" class="bg-white">

        <!-- PAGE LOADING ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER ================================================== -->
        <div class="main-wrapper">

            <!-- HEADER
            ================================================== -->
            {% include "_sajutoktok/parts/header.html" %}

            <!-- MAIN SECTION
            ================================================== -->
            <section class="m-0 p-0 my-4" style="min-height: 100vh;">
                <div class="container">

                    <!-- goback -->
                    <a class="small" href="javascript: window.history.back();">
                        < 뒤로가기
                    </a>

                    <!-- title -->
                    <div class="mt-2 mb-5">
                        <h5>
                            대화 목록
                        </h5>
                        <small>
                            대화중인 채팅방을 확인합니다.
                        </small>
                    </div>

                    <!-- content(mobile) -->
                    <div class="my-4 d-block d-md-none">
                        <div class="row">
                            {% if chat_rooms|length < 1 %}
                            <p class="my-2 text-center">
                                대화중인 채팅방이 없습니다.
                            </p>
                            {% endif %}
                            {% for chat_room in chat_rooms %}
                            <div class="py-2"`>
                                <a href="/chat?opponent={{chat_room.account.id}}" class="text-dark">
                                    <b>{{chat_room.account.nickname}}</b><br>
                                    <p class="display-30 m-0">
                                        {{chat_room.last_chat.content}}
                                    </p>
                                    <small>
                                        {{chat_room.last_chat.short_dt}}
                                    </small>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- content(desktop) -->
                    <div class="row">
                        <div class="my-4 d-none d-md-block col-6 col-lg-4">
                            <div class="row">
                                {% if chat_rooms|length < 1 %}
                                <p class="my-2 text-center">
                                    대화중인 채팅방이 없습니다.
                                </p>
                                {% endif %}
                                {% for chat_room in chat_rooms %}
                                <div class="py-2">
                                    <a href="javascript: openChat({{chat_room.account.id}});" class="text-dark">
                                        <b>{{chat_room.account.nickname}}</b><br>
                                        <p class="display-30 m-0">
                                            {{chat_room.last_chat.content}}
                                        </p>
                                        <small>
                                            {{chat_room.last_chat.short_dt}}
                                        </small>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="d-none d-md-block col-6 col-lg-8">
                            <iframe id="chatFrame" src="/chat_frame?opponent={{chat_rooms.0.account.id}}" style="width: 100%; height: calc(100vh - 200px);"></iframe>
                        </div>
                    </div>

                </div>
            </section>

        </div>

        <script src="/static/_sajutoktok/js/jquery.min.js"></script>
        <script src="/static/_sajutoktok/js/popper.min.js"></script>
        <script src="/static/_sajutoktok/js/bootstrap.min.js"></script>
        <script src="/static/_sajutoktok/js/scrollIt.min.js"></script>
        <script src="/static/_sajutoktok/js/nav-menu.js"></script>
        <script src="/static/_sajutoktok/js/easy.responsive.tabs.js"></script>
        <script src="/static/_sajutoktok/js/owl.carousel.js"></script>
        <script src="/static/_sajutoktok/js/owl.carousel.thumbs.js"></script>
        <script src="/static/_sajutoktok/js/animated-headline.js"></script>
        <script src="/static/_sajutoktok/js/jquery.counterup.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.stellar.min.js"></script>
        <script src="/static/_sajutoktok/js/waypoints.min.js"></script>
        <script src="/static/_sajutoktok/js/countdown.js"></script>
        <script src="/static/_sajutoktok/js/clipboard.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/_sajutoktok/js/isotope.pkgd.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.mousewheel.min.js"></script>
        <script src="/static/_sajutoktok/js/lightgallery-all.js"></script>
        <script src="/static/_sajutoktok/js/wow.js"></script>
        <script src="/static/_sajutoktok/js/prism.js"></script>
        <script src="/static/_sajutoktok/js/xzoom.js"></script>
        <script src="/static/_sajutoktok/js/jquery.hammer.min.js"></script>
        <script src="/static/_sajutoktok/js/setup.js"></script>
        <script src="/static/_sajutoktok/js/jarallax.min.js"></script>
        <script src="/static/_sajutoktok/js/jarallax-video.js"></script>
        <script src="/static/_sajutoktok/js/gsap.js"></script>
        <script src="/static/_sajutoktok/js/scrolltrigger.js"></script>
        <script src="/static/_sajutoktok/js/splittext.js"></script>
        <script src="/static/_sajutoktok/js/gsap-animation.js"></script>
        <script src="/static/_sajutoktok/js/custom.js"></script>
        <script src="/static/_sajutoktok/js/main.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/static/quform/js/plugins.js"></script>
        <script src="/static/quform/js/scripts.js"></script>
        <script src="/static/search/search.js"></script>
        <script>
            // elements
            const chatFrame = document.getElementById('chatFrame');

            // functions
            window.onload = () => {
                console.log(`Window loaded at ${getNowDt()}`);
            }

            function openChat(opponent) {
                chatFrame.src = `/chat_frame?opponent=${opponent}`;
            }
        </script>

    </body>

</html>