<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    {% csrf_token %}

    <head>

        <meta name="robots" content="noindex, nofollow">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>사주톡톡</title>

        <!-- favicon
        ================================================== -->
        <link rel="icon" type="image/png" href="/static/_sajutoktok/img/logos/favicon.png">
        <link rel="shortcut icon" href="/static/_sajutoktok/img/logos/favicon.png" />
        <link rel="apple-touch-icon" href="/static/_sajutoktok/img/logos/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/_sajutoktok/img/logos/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/_sajutoktok/img/logos/apple-touch-icon-114x114.png" />

        <!-- style
        ================================================== -->
        <link rel="stylesheet" href="/static/_sajutoktok/css/plugins.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/custom.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/styles.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/index.css"/>
        <link rel="stylesheet" href="/static/search/search.css"/>
        <link rel="stylesheet" href="/static/quform/css/base.css"/>

    </head>

    <body style="word-break: keep-all;" class="bg-white">

        <!-- PAGE LOADING ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER ================================================== -->
        <div class="main-wrapper" style="min-height: 100vh;">

            <!-- MAIN SECTION
            ================================================== -->
            <section class="bg-light p-0">
                <div class="container d-flex flex-column">
                    <div class="row align-items-center justify-content-center min-vh-100">
                        <div class="col-12 col-lg-8">

                            <!-- goback -->
                            <a class="small" href="javascript: window.location.href = '/login';">
                                < 로그인 페이지로
                            </a>

                            <div class="card p-4">

                                <!-- title -->
                                <div class="my-4 text-center">
                                    <h2 class="font-weight-normal mb-0">회원가입</h2>
                                    <p class="mb-0">회원가입을 위해 아래 내용을 입력해주세요.</p>
                                </div>

                                <div class="form-group">
                                    <label>아이디</label>
                                    <input class="form-control" id="id" value="{{email}}" readonly>
                                </div>
                                <div class="form-group">
                                    <label>닉네임</label> <small id="nicknameConfirmText"></small>
                                    <input class="form-control" id="nickname" placeholder="닉네임을 입력해주세요.">
                                </div>

                                <br>

                                <div class="form-group">
                                    <label>비밀번호</label> <small id="passwordConfirmText"></small>
                                    <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요.">
                                    <small>
                                        비밀번호는 6~20자의 영문 대소문자, 숫자만 사용 가능합니다.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>비밀번호 확인</label> <small id="passwordCheckConfirmText"></small>
                                    <input type="password" class="form-control" id="passwordCheck" placeholder="비밀번호를 다시 입력해주세요.">
                                </div>
                                <div class="form-group">
                                    <label>연락처</label> <small id="telConfirmText"></small>
                                    <input class="form-control" id="tel" placeholder="연락처를 입력해주세요.">
                                    <small>
                                        연락처는 상담 서비스 제공을 위한 연락처로 사용됩니다.
                                    </small>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-md-12 center">
                                        <button type="button" onclick="tryRegister();" class="butn style-one fill d-block mt-4 mb-0 bg-primary col-12 col-lg-2">
                                            가입하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <!-- FIXED BUTTONS
        ================================================== -->
        <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <script src="/static/_sajutoktok/js/jquery.min.js"></script>
        <script src="/static/_sajutoktok/js/popper.min.js"></script>
        <script src="/static/_sajutoktok/js/bootstrap.min.js"></script>
        <script src="/static/_sajutoktok/js/scrollIt.min.js"></script>
        <script src="/static/_sajutoktok/js/nav-menu.js"></script>
        <script src="/static/_sajutoktok/js/easy.responsive.tabs.js"></script>
        <script src="/static/_sajutoktok/js/owl.carousel.js"></script>
        <script src="/static/_sajutoktok/js/owl.carousel.thumbs.js"></script>
        <script src="/static/_sajutoktok/js/animated-headline.js"></script>
        <script src="/static/_sajutoktok/js/jquery.counterup.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.stellar.min.js"></script>
        <script src="/static/_sajutoktok/js/waypoints.min.js"></script>
        <script src="/static/_sajutoktok/js/countdown.js"></script>
        <script src="/static/_sajutoktok/js/clipboard.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/_sajutoktok/js/isotope.pkgd.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.mousewheel.min.js"></script>
        <script src="/static/_sajutoktok/js/lightgallery-all.js"></script>
        <script src="/static/_sajutoktok/js/wow.js"></script>
        <script src="/static/_sajutoktok/js/prism.js"></script>
        <script src="/static/_sajutoktok/js/xzoom.js"></script>
        <script src="/static/_sajutoktok/js/jquery.hammer.min.js"></script>
        <script src="/static/_sajutoktok/js/setup.js"></script>
        <script src="/static/_sajutoktok/js/jarallax.min.js"></script>
        <script src="/static/_sajutoktok/js/jarallax-video.js"></script>
        <script src="/static/_sajutoktok/js/gsap.js"></script>
        <script src="/static/_sajutoktok/js/scrolltrigger.js"></script>
        <script src="/static/_sajutoktok/js/splittext.js"></script>
        <script src="/static/_sajutoktok/js/gsap-animation.js"></script>
        <script src="/static/_sajutoktok/js/custom.js"></script>
        <script src="/static/_sajutoktok/js/main.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/static/quform/js/plugins.js"></script>
        <script src="/static/quform/js/scripts.js"></script>
        <script src="/static/search/search.js"></script>
        <script>
            // variables
            var passwordRegex = /^(?=.*[a-zA-Z])(?=.*[0-9]).{6,20}$/;
            var email = '{{email}}';
            var code = '{{code}}';
            var passwordOk = false;
            var passwordCheckOk = false;
            var nicknameOk = false;
            var telOk = false;

            // elements
            const passwordInput = document.getElementById('password');
            const passwordCheckInput = document.getElementById('passwordCheck');
            const passwordConfirmText = document.getElementById('passwordConfirmText');
            const passwordCheckConfirmText = document.getElementById('passwordCheckConfirmText');
            const nicknameInput = document.getElementById('nickname');
            const nicknameConfirmText = document.getElementById('nicknameConfirmText');
            const telInput = document.getElementById('tel');
            const telConfirmText = document.getElementById('telConfirmText');

            // functions
            window.onload = () => {
                console.log(`Window loaded at ${getNowDt()}`);
            }

            telInput.addEventListener('input', () => {
                if (telInput.value.length == 11 && telInput.value.startsWith('010')) {
                    telConfirmText.innerHTML = '사용 가능한 연락처입니다.';
                    telConfirmText.classList.remove('text-danger');
                    telConfirmText.classList.add('text-success');
                    telOk = true;
                } else {
                    telConfirmText.innerHTML = '연락처는 010으로 시작하는 11자리 숫자여야 합니다.';
                    telConfirmText.classList.remove('text-success');
                    telConfirmText.classList.add('text-danger');
                    telOk = false;
                }
            });

            passwordInput.addEventListener('input', () => {
                if (passwordRegex.test(passwordInput.value)) {
                    passwordConfirmText.innerHTML = '사용 가능한 비밀번호입니다.';
                    passwordConfirmText.classList.remove('text-danger');
                    passwordConfirmText.classList.add('text-success');
                    passwordOk = true;
                } else {
                    passwordConfirmText.innerHTML = '비밀번호는 6~20자의 영문 대소문자, 숫자만 사용 가능합니다.';
                    passwordConfirmText.classList.remove('text-success');
                    passwordConfirmText.classList.add('text-danger');
                    passwordOk = false;
                }
            });

            passwordCheckInput.addEventListener('input', () => {
                if (passwordInput.value === passwordCheckInput.value) {
                    passwordCheckConfirmText.innerHTML = '비밀번호가 일치합니다.';
                    passwordCheckConfirmText.classList.remove('text-danger');
                    passwordCheckConfirmText.classList.add('text-success');
                    passwordCheckOk = true;
                } else {
                    passwordCheckConfirmText.innerHTML = '비밀번호가 일치하지 않습니다.';
                    passwordCheckConfirmText.classList.remove('text-success');
                    passwordCheckConfirmText.classList.add('text-danger');
                    passwordCheckOk = false;
                }
            });

            nicknameInput.addEventListener('change', async () => {
                if (nicknameInput.value.length > 0 && nicknameInput.value.length <= 20) {
                    var formData = new FormData();
                    formData.append('nickname', nicknameInput.value);
                    await fetch('/api/check_nickname', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': csrftoken
                        }
                    }).then(async response => response.json())
                    .then(async data => {
                        var success = data['success'];

                        if (success == 'y') {
                            nicknameConfirmText.innerHTML = '사용 가능한 닉네임입니다.';
                            nicknameConfirmText.classList.remove('text-danger');
                            nicknameConfirmText.classList.add('text-success');
                            nicknameOk = true;
                        } else {
                            nicknameConfirmText.innerHTML = '이미 사용중인 닉네임입니다.';
                            nicknameConfirmText.classList.remove('text-success');
                            nicknameConfirmText.classList.add('text-danger');
                            nicknameOk = false;
                        }
                    });
                } else {
                    nicknameConfirmText.innerHTML = '닉네임을 입력해주세요.';
                    nicknameConfirmText.classList.remove('text-success');
                    nicknameConfirmText.classList.add('text-danger');
                    nicknameOk = false;
                }
            });

            tryRegister = async () => {
                if (!passwordOk || !passwordCheckOk || !nicknameOk || !telOk) {
                    Swal.fire({
                        html: `
                        <div>
                            <div class="text-center py-4">
                                <h1 class="text-dark">내용 입력</h1>
                            </div>
                            <diV class="text-start">
                                <p class="text-secondary">
                                    입력한 내용을 다시 확인해주세요.<br>
                                    모든 항목을 올바르게 입력해주세요.
                                </p>
                            </div>
                        </div>`,
                        icon: `error`,
                        showConfirmButton: true,
                        confirmButtonText: `확인`,
                        showCancelButton: false,
                        cancelButtonText: ``
                    });
                    return;
                }

                var formData = new FormData();
                formData.append('id', email);
                formData.append('password', SHA256(passwordInput.value));
                formData.append('nickname', nicknameInput.value);
                formData.append('tel', telInput.value);
                formData.append('cert_code', code);
                formData.append('account_type', 'user');
                formData.append('status', 'active');
                await fetch('/api/write_account', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                }).then(async response => response.json())
                .then(async data => {
                    print(data);
                    var success = data['success'];

                    if (success == 'y') {
                        Swal.fire({
                            html: `
                            <div>
                                <div class="text-center py-4">
                                    <h1 class="text-dark">회원가입 성공</h1>
                                </div>
                                <diV class="text-start">
                                    <p class="text-secondary">
                                        회원가입이 성공적으로 완료되었습니다. 메인 페이지로 이동합니다.
                                    </p>
                                </div>
                            </div>`,
                            icon: `success`,
                            showConfirmButton: true,
                            confirmButtonText: `확인`,
                            showCancelButton: false,
                            cancelButtonText: ``
                        }).then(() => {
                            window.location.href = '/';
                        });
                    } else {
                        var error = data['error'];
                        console.log(error);
                        Swal.fire({
                            html: `
                            <div>
                                <div class="text-center py-4">
                                    <h1 class="text-dark">회원가입 실패</h1>
                                </div>
                                <diV class="text-start">
                                    <p class="text-secondary">
                                        회원가입에 실패하였습니다. 다시 시도해주세요.<br>
                                        계속 문제가 발생할 경우 회원가입 처음부터 다시 진행해주세요.
                                    </p>
                                </div>
                            </div>`,
                            icon: `error`,
                            showConfirmButton: true,
                            confirmButtonText: `확인`,
                            showCancelButton: false,
                            cancelButtonText: ``
                        });
                    }
                });

            }

        </script>

    </body>

</html>