<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    {% csrf_token %}

    <head>

        <meta name="robots" content="noindex, nofollow">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>사주톡톡</title>

        <!-- favicon
        ================================================== -->
        <link rel="icon" type="image/png" href="/static/_sajutoktok/img/logos/favicon.png">
        <link rel="shortcut icon" href="/static/_sajutoktok/img/logos/favicon.png" />
        <link rel="apple-touch-icon" href="/static/_sajutoktok/img/logos/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/_sajutoktok/img/logos/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/_sajutoktok/img/logos/apple-touch-icon-114x114.png" />

        <!-- style
        ================================================== -->
        <link rel="stylesheet" href="/static/_sajutoktok/css/plugins.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/custom.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/styles.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/index.css"/>
        <link rel="stylesheet" href="/static/search/search.css"/>
        <link rel="stylesheet" href="/static/quform/css/base.css"/>

    </head>

    <body style="word-break: keep-all;" class="bg-white">

        <!-- PAGE LOADING ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER ================================================== -->
        <div class="main-wrapper">

            <!-- HEADER
            ================================================== -->
            {% include "_sajutoktok/parts/header_supervisor.html" %}

            <!-- MAIN SECTION
            ================================================== -->
            <section class="m-0 p-0 my-4" style="min-height: 100vh;">
                <div class="container">

                    <!-- goback -->
                    <div style="display: flex; justify-content: space-between; white-space: nowrap;">
                        <div style="display: inline-block; text-align: left;">
                            <a class="small" href="javascript: window.location.href='/supervisor';">
                                < 관리자 페이지로
                            </a>
                        </div>
                        <div style="display: inline-block; text-align: right;">
                            <a class="small" href="/supervisor_event_write">
                                + 이벤트 작성
                            </a>
                        </div>
                    </div>

                    <!-- title -->
                    <div class="mt-2 mb-5">
                        <h5>
                            이벤트
                        </h5>
                        <small>
                            사주톡톡의 이벤트을 작성하고 관리합니다.
                        </small>
                    </div>

                    <!-- events -->
                    <div class="container p-0">
                        <div class="owl-carousel owl-theme">
                            {% if events|length < 1 %}
                            <a href="/events">
                                <div class="post-img w-100" style="max-height: 300px; height: 28vw; background: url('/media/default.png') center/contain no-repeat darkgray;"></div>
                            </a>
                            {% endif %}
                            {% for event in events %}
                            <a href="/event?id={{event.id}}">
                                <div class="post-img w-100" style="max-height: 300px; height: 28vw; background: url('{{event.main_image}}') center/contain no-repeat darkgray;"></div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>


                    <!-- content -->
                    <div class="my-4" style="min-height: 100vh;">
                        <div class="row">
                            {% if events|length < 1 %}
                            <p class="small">
                                현재 등록된 이벤트이 없습니다.
                            </p>
                            {% endif %}
                            {% for event in events %}
                            <div class="col-md-12 py-3">
                                <a href="/supervisor_event?id={{event.id}}" class="text-dark">
                                    <div class="post-img w-100" style="max-height: 300px; height: 28vw; background: url('{{event.main_image}}') center/contain no-repeat darkgray;"></div>
                                    <p class="m-0 text-dark">
                                        {{event.title}}
                                    </p>
                                    <small class="text-secondary">
                                        사주톡톡 | {{event.dt}}
                                    </small>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <!-- FIXED BUTTONS
        ================================================== -->
        <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

        <script src="/static/_sajutoktok/js/jquery.min.js"></script>
        <script src="/static/_sajutoktok/js/popper.min.js"></script>
        <script src="/static/_sajutoktok/js/bootstrap.min.js"></script>
        <script src="/static/_sajutoktok/js/scrollIt.min.js"></script>
        <script src="/static/_sajutoktok/js/nav-menu.js"></script>
        <script src="/static/_sajutoktok/js/easy.responsive.tabs.js"></script>
        <script src="/static/_sajutoktok/js/owl.carousel.js"></script>
        <script src="/static/_sajutoktok/js/owl.carousel.thumbs.js"></script>
        <script src="/static/_sajutoktok/js/animated-headline.js"></script>
        <script src="/static/_sajutoktok/js/jquery.counterup.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.stellar.min.js"></script>
        <script src="/static/_sajutoktok/js/waypoints.min.js"></script>
        <script src="/static/_sajutoktok/js/countdown.js"></script>
        <script src="/static/_sajutoktok/js/clipboard.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/_sajutoktok/js/isotope.pkgd.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.mousewheel.min.js"></script>
        <script src="/static/_sajutoktok/js/lightgallery-all.js"></script>
        <script src="/static/_sajutoktok/js/wow.js"></script>
        <script src="/static/_sajutoktok/js/prism.js"></script>
        <script src="/static/_sajutoktok/js/xzoom.js"></script>
        <script src="/static/_sajutoktok/js/jquery.hammer.min.js"></script>
        <script src="/static/_sajutoktok/js/setup.js"></script>
        <script src="/static/_sajutoktok/js/jarallax.min.js"></script>
        <script src="/static/_sajutoktok/js/jarallax-video.js"></script>
        <script src="/static/_sajutoktok/js/gsap.js"></script>
        <script src="/static/_sajutoktok/js/scrolltrigger.js"></script>
        <script src="/static/_sajutoktok/js/splittext.js"></script>
        <script src="/static/_sajutoktok/js/gsap-animation.js"></script>
        <script src="/static/_sajutoktok/js/custom.js"></script>
        <script src="/static/_sajutoktok/js/main.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/static/quform/js/plugins.js"></script>
        <script src="/static/quform/js/scripts.js"></script>
        <script src="/static/search/search.js"></script>
        <script>
            window.onload = () => {
                console.log(`Window loaded at ${getNowDt()}`);
            }
        </script>

    </body>

</html>