<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  {% csrf_token %}

  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{{ settings.service_name }}</title>

    <!-- favicon
    ================================================== -->
    <link rel="icon" type="image/png" href="/static/_sajutoktok/img/logos/favicon.png">
    <link rel="shortcut icon" href="/static/_sajutoktok/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="/static/_sajutoktok/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/_sajutoktok/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/_sajutoktok/img/logos/apple-touch-icon-114x114.png" />

    <!-- style
    ================================================== -->
    <link rel="stylesheet" href="/static/_sajutoktok/css/plugins.css"/>
    <link rel="stylesheet" href="/static/_sajutoktok/css/custom.css"/>
    <link rel="stylesheet" href="/static/_sajutoktok/css/styles.css"/>
    <link rel="stylesheet" href="/static/_sajutoktok/css/index.css"/>
    <link rel="stylesheet" href="/static/search/search.css"/>
    <link rel="stylesheet" href="/static/quform/css/base.css"/>

  </head>

  <body style="word-break: keep-all;" class="bg-white">

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper bg-white">
      {% block content %} {% endblock %}
    </div>

    <!-- javascript
    ================================================== -->
    <script src="/static/_sajutoktok/js/jquery.min.js"></script>
    <script src="/static/_sajutoktok/js/popper.min.js"></script>
    <script src="/static/_sajutoktok/js/bootstrap.min.js"></script>
    <script src="/static/_sajutoktok/js/scrollIt.min.js"></script>
    <script src="/static/_sajutoktok/js/nav-menu.js"></script>
    <script src="/static/_sajutoktok/js/easy.responsive.tabs.js"></script>
    <script src="/static/_sajutoktok/js/owl.carousel.js"></script>
    <script src="/static/_sajutoktok/js/owl.carousel.thumbs.js"></script>
    <script src="/static/_sajutoktok/js/animated-headline.js"></script>
    <script src="/static/_sajutoktok/js/jquery.counterup.min.js"></script>
    <script src="/static/_sajutoktok/js/jquery.stellar.min.js"></script>
    <script src="/static/_sajutoktok/js/waypoints.min.js"></script>
    <script src="/static/_sajutoktok/js/countdown.js"></script>
    <script src="/static/_sajutoktok/js/clipboard.min.js"></script>
    <script src="/static/_sajutoktok/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/_sajutoktok/js/isotope.pkgd.min.js"></script>
    <script src="/static/_sajutoktok/js/jquery.mousewheel.min.js"></script>
    <script src="/static/_sajutoktok/js/lightgallery-all.js"></script>
    <script src="/static/_sajutoktok/js/wow.js"></script>
    <script src="/static/_sajutoktok/js/prism.js"></script>
    <script src="/static/_sajutoktok/js/xzoom.js"></script>
    <script src="/static/_sajutoktok/js/jquery.hammer.min.js"></script>
    <script src="/static/_sajutoktok/js/setup.js"></script>
    <script src="/static/_sajutoktok/js/jarallax.min.js"></script>
    <script src="/static/_sajutoktok/js/jarallax-video.js"></script>
    <script src="/static/_sajutoktok/js/gsap.js"></script>
    <script src="/static/_sajutoktok/js/scrolltrigger.js"></script>
    <script src="/static/_sajutoktok/js/splittext.js"></script>
    <script src="/static/_sajutoktok/js/gsap-animation.js"></script>
    <script src="/static/_sajutoktok/js/main.js"></script>
    <script src="/static/quform/js/plugins.js"></script>
    <script src="/static/quform/js/scripts.js"></script>
    <script src="/static/search/search.js"></script>
    <script src="/static/_sajutoktok/js/custom.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>
</html>
