<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    {% csrf_token %}

    <head>

        <meta name="robots" content="noindex, nofollow">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>사주톡톡</title>

        <!-- favicon
        ================================================== -->
        <link rel="icon" type="image/png" href="/static/_sajutoktok/img/logos/favicon.png">
        <link rel="shortcut icon" href="/static/_sajutoktok/img/logos/favicon.png" />
        <link rel="apple-touch-icon" href="/static/_sajutoktok/img/logos/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/static/_sajutoktok/img/logos/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/static/_sajutoktok/img/logos/apple-touch-icon-114x114.png" />

        <!-- style
        ================================================== -->
        <link rel="stylesheet" href="/static/_sajutoktok/css/plugins.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/custom.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/styles.css"/>
        <link rel="stylesheet" href="/static/_sajutoktok/css/index.css"/>
        <link rel="stylesheet" href="/static/search/search.css"/>
        <link rel="stylesheet" href="/static/quform/css/base.css"/>

    </head>

    <body style="word-break: keep-all;" class="bg-white">

        <!-- PAGE LOADING ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER ================================================== -->
        <div class="main-wrapper" style="min-height: 100vh;">

            <!-- HEADER
            ================================================== -->
            {% include "_sajutoktok/parts/header.html" %}

            <!-- MAIN SECTION
            ================================================== -->
            <section class="m-0 p-0 my-4">
                <div class="container">

                    <!-- goback -->
                    <a class="small" href="javascript: window.location.href='/';">
                        < 뒤로가기
                    </a>

                    <!-- title -->
                    <div class="mt-2 mb-5">
                        <h5>
                            포인트 충전
                        </h5>
                        <small>
                            사주톡톡에서 사용할 수 있는 포인트를 충전할 수 있습니다.
                        </small>
                    </div>

                    <!-- my point -->
                    <div class="my-4">
                        <div class="account-sidebar">
                            <div class="account-widget personal-data">
                                <h6>
                                    내 포인트
                                </h6>
                                <div class="mt-3">
                                    <img src="/static/_sajutoktok/img/icon/coin.png" style="width: 24px; height: 24px;"> 
                                    <span class="text-danger h6">
                                        <span class="price">{{account.point}}</span>원
                                    </span>
                                </div>
                                <p class="text-end small m-0">
                                    <a href="profile_user_purchases">
                                        < 포인트 내역 보기
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <!-- content -->
                    <div class="my-4">
                        <h6>
                            포인트 충전 상품
                        </h6>
                        <div class="row p-1">
                            {% for item in items %}
                            <div class="col-6 col-lg-3 p-1">
                                <div class="account-sidebar" style="cursor: pointer;" onclick="checkItem('{{item.id}}');">
                                    <div class="account-widget personal-data pb-3">
                                        {% if item.photo != '' %}
                                        <div class="text-center mb-3">
                                            <img src="{{item.photo}}" class="w-100">
                                        </div>
                                        {% endif %}
                                        <h6 class="mb-2">{{item.name}}</h6>
                                        <p class="small">{{item.description}}</p>
                                        <div class="text-end">
                                            {% if item.origin_price != item.final_price %}
                                            <del class="text-muted small"><span class="price">{{item.origin_price}}</span>원</del><br>
                                            <h6 class="text-danger"><span class="price">{{item.final_price}}원</span></h6>
                                            {% else %}
                                            <h6 class="text-danger"><span class="price">{{item.final_price}}원</span></h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </section>

        </div>

        <!-- FOOTER
        ================================================== -->
        {% include "_sajutoktok/parts/footer.html" %}

        <script src="/static/_sajutoktok/js/jquery.min.js"></script>
        <script src="/static/_sajutoktok/js/popper.min.js"></script>
        <script src="/static/_sajutoktok/js/bootstrap.min.js"></script>
        <script src="/static/_sajutoktok/js/scrollIt.min.js"></script>
        <script src="/static/_sajutoktok/js/nav-menu.js"></script>
        <script src="/static/_sajutoktok/js/easy.responsive.tabs.js"></script>
        <script src="/static/_sajutoktok/js/owl.carousel.js"></script>
        <script src="/static/_sajutoktok/js/owl.carousel.thumbs.js"></script>
        <script src="/static/_sajutoktok/js/animated-headline.js"></script>
        <script src="/static/_sajutoktok/js/jquery.counterup.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.stellar.min.js"></script>
        <script src="/static/_sajutoktok/js/waypoints.min.js"></script>
        <script src="/static/_sajutoktok/js/countdown.js"></script>
        <script src="/static/_sajutoktok/js/clipboard.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/_sajutoktok/js/isotope.pkgd.min.js"></script>
        <script src="/static/_sajutoktok/js/jquery.mousewheel.min.js"></script>
        <script src="/static/_sajutoktok/js/lightgallery-all.js"></script>
        <script src="/static/_sajutoktok/js/wow.js"></script>
        <script src="/static/_sajutoktok/js/prism.js"></script>
        <script src="/static/_sajutoktok/js/xzoom.js"></script>
        <script src="/static/_sajutoktok/js/jquery.hammer.min.js"></script>
        <script src="/static/_sajutoktok/js/setup.js"></script>
        <script src="/static/_sajutoktok/js/jarallax.min.js"></script>
        <script src="/static/_sajutoktok/js/jarallax-video.js"></script>
        <script src="/static/_sajutoktok/js/gsap.js"></script>
        <script src="/static/_sajutoktok/js/scrolltrigger.js"></script>
        <script src="/static/_sajutoktok/js/splittext.js"></script>
        <script src="/static/_sajutoktok/js/gsap-animation.js"></script>
        <script src="/static/_sajutoktok/js/custom.js"></script>
        <script src="/static/_sajutoktok/js/main.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/static/quform/js/plugins.js"></script>
        <script src="/static/quform/js/scripts.js"></script>
        <script src="/static/search/search.js"></script>
        <script>
            // variables
            var item_id = '';

            // elements
            const checkItemModal = document.getElementById('checkItemModal');

            window.onload = () => {
                console.log(`Window loaded at ${getNowDt()}`);

                document.querySelectorAll('.price').forEach((el) => {
                    el.innerHTML = el.innerHTML.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                });
            }

            function checkItem(id) {
                window.location.href = '/profile_user_purchase?id=' + id;
            }
        </script>

    </body>

</html>